<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test task</title>       
<link href="public/css/main.css" rel="stylesheet"></head>
<body>     
<header class="header">
    <div id="carouselExampleFade" class="carousel slide carousel-fade header_carousel" data-bs-ride="carousel">
        <div class="carousel-inner header_carousel-inner">
            <div class="carousel-item active"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
        </div>         
    </div>    
    <div class="header-navbar">
        <div class="content-section">
            <div class="header-navbar_top">                
                <a class="header_logo" href="#">ДОБРИВО</a>
                <div class="header-navbar_top_menu">                     
                        <a class="header-navbar_top-link" href="#"><span>Оплата и доставка</span></a>
                        <a class="header-navbar_top-link" href="#"><span>Новости</span></a>
                        <a class="header-navbar_top-link" href="#"><span>Справочник</span></a>
                        <a class="header-navbar_top-link" href="#"><span>Сертификаты</span></a>                  
                    <form>
                        <select name="lang">
                            <option value="">ru</option>
                            <option value="">ua</option>
                            <option value="">en</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="menu_icon">
                <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSIyNiIgd2lkdGg9IjI2IiB5PSItMSIgeD0iLTEiLz4KIDwvZz4KIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBpZD0ic3ZnXzEiIGQ9Im0yMCwxMGwtMTYsMGMtMS4xLDAgLTIsMC45IC0yLDJjMCwxLjEgMC45LDIgMiwybDE2LDBjMS4xLDAgMiwtMC45IDIsLTJjMCwtMS4xIC0wLjksLTIgLTIsLTJ6Ii8+CiAgPHBhdGggZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18yIiBkPSJtNCw4bDEyLDBjMS4xLDAgMiwtMC45IDIsLTJjMCwtMS4xIC0wLjksLTIgLTIsLTJsLTEyLDBjLTEuMSwwIC0yLDAuOSAtMiwyYzAsMS4xIDAuOSwyIDIsMnoiLz4KICA8cGF0aCBmaWxsPSIjZmZmZmZmIiBpZD0ic3ZnXzMiIGQ9Im0xNiwxNmwtMTIsMGMtMS4xLDAgLTIsMC45IC0yLDJjMCwxLjEgMC45LDIgMiwybDEyLDBjMS4xLDAgMiwtMC45IDIsLTJjMCwtMS4xIC0wLjksLTIgLTIsLTJ6Ii8+CiA8L2c+Cjwvc3ZnPg==" width="48" alt="iconfinder">
            </div>
            <nav class="header_nav">
              <a href="#" class="header_nav_link"><span>НАГРО-УДОБРЕНИЕ</span></a>
              <a href="#" class="header_nav_link"><span>БиоДизель</span></a>
              <a href="#" class="header_nav_link"><span>СИЛКО</span></a>
              <a href="#" class="header_nav_link"><span>Интернет-магазин</span></a>
              <a href="#" class="header_nav_link"><span>Вопросы-ответы</span></a>
              <a href="#" class="header_nav_link"><span>Контакты</span></a>
              <a href="#" class="header_nav_link header_nav_cart"><span>Корзина</span></a>  
            </nav>
            <div class="scrim"></div>
        </div>
    </div> 
</header>
<main>
    <section class="product">
        <div class="content-section">
            <div class="product_left">
                <div class="product_title">
                    <p>ОРГАНИЧЕСКОЕ</p>
                    <p>НАНО-УДОБНИЕ</p>
                    <p>ДОБРИВО</p>
                </div>
                <div class="product_advantages">
                    <div class="product_advantages_img">
                        <img src="public/img/product.png" alt="product">
                    </div>
                    <div class="product_advantages_content">
                        <div class="product_advantage"> 
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMy41OSAzMi4wNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmYmIwNDA7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSLQodC70L7QuV8yIiBkYXRhLW5hbWU9ItCh0LvQvtC5IDIiPjxnIGlkPSJtYWluIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMy4wNywxMy4zOGwtNy4zMyw3LjE1LDEuNzMsMTAuMDlhMi43NSwyLjc1LDAsMCwxLDAsLjQxYzAsLjUyLS4yNCwxLS44MiwxYTEuNTQsMS41NCwwLDAsMS0uODEtLjI1TDE2LjgsMjcsNy43MywzMS43OWExLjYsMS42LDAsMCwxLS44MS4yNWMtLjU4LDAtLjg0LS40OS0uODQtMWEyLjcxLDIuNzEsMCwwLDEsMC0uNDFMNy44NSwyMC41My41LDEzLjM4YTEuNTUsMS41NSwwLDAsMS0uNS0xYzAtLjYuNjMtLjg0LDEuMTMtLjkyTDExLjI2LDEwLDE1LjgxLjgzYy4xOC0uMzkuNTItLjgzLDEtLjgzcy44LjQ0LDEsLjgzTDIyLjMzLDEwbDEwLjEzLDEuNDhjLjQ5LjA4LDEuMTMuMzIsMS4xMy45MkExLjQ5LDEuNDksMCwwLDEsMzMuMDcsMTMuMzhaIi8+PC9nPjwvZz48L3N2Zz4=" width="34" alt="icon">
                            <div class="product_advantage_text">
                                <p class="product_advantage_text_title">ПРИРОСТ УРОЖАЯ</p>
                                <p class="product_advantage_text_subtitle">в сравнении с химическим удобрением</p>
                                <p class="product_advantage_text_value">30%-250%</p>
                            </div>
                        </div>
                        <div class="product_advantage">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMy41OSAzMi4wNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmYmIwNDA7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSLQodC70L7QuV8yIiBkYXRhLW5hbWU9ItCh0LvQvtC5IDIiPjxnIGlkPSJtYWluIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMy4wNywxMy4zOGwtNy4zMyw3LjE1LDEuNzMsMTAuMDlhMi43NSwyLjc1LDAsMCwxLDAsLjQxYzAsLjUyLS4yNCwxLS44MiwxYTEuNTQsMS41NCwwLDAsMS0uODEtLjI1TDE2LjgsMjcsNy43MywzMS43OWExLjYsMS42LDAsMCwxLS44MS4yNWMtLjU4LDAtLjg0LS40OS0uODQtMWEyLjcxLDIuNzEsMCwwLDEsMC0uNDFMNy44NSwyMC41My41LDEzLjM4YTEuNTUsMS41NSwwLDAsMS0uNS0xYzAtLjYuNjMtLjg0LDEuMTMtLjkyTDExLjI2LDEwLDE1LjgxLjgzYy4xOC0uMzkuNTItLjgzLDEtLjgzcy44LjQ0LDEsLjgzTDIyLjMzLDEwbDEwLjEzLDEuNDhjLjQ5LjA4LDEuMTMuMzIsMS4xMy45MkExLjQ5LDEuNDksMCwwLDEsMzMuMDcsMTMuMzhaIi8+PC9nPjwvZz48L3N2Zz4=" width="34" alt="icon">
                            <div class="product_advantage_text">
                                <p class="product_advantage_text_title">ЭКОНОМИЯ</p>
                                <p class="product_advantage_text_subtitle">химических удобрений в хозяйстве</p>
                                <p class="product_advantage_text_value">до 70%</p>
                            </div>
                        </div>
                        <div class="product_advantage">
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMy41OSAzMi4wNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmYmIwNDA7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSLQodC70L7QuV8yIiBkYXRhLW5hbWU9ItCh0LvQvtC5IDIiPjxnIGlkPSJtYWluIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMy4wNywxMy4zOGwtNy4zMyw3LjE1LDEuNzMsMTAuMDlhMi43NSwyLjc1LDAsMCwxLDAsLjQxYzAsLjUyLS4yNCwxLS44MiwxYTEuNTQsMS41NCwwLDAsMS0uODEtLjI1TDE2LjgsMjcsNy43MywzMS43OWExLjYsMS42LDAsMCwxLS44MS4yNWMtLjU4LDAtLjg0LS40OS0uODQtMWEyLjcxLDIuNzEsMCwwLDEsMC0uNDFMNy44NSwyMC41My41LDEzLjM4YTEuNTUsMS41NSwwLDAsMS0uNS0xYzAtLjYuNjMtLjg0LDEuMTMtLjkyTDExLjI2LDEwLDE1LjgxLjgzYy4xOC0uMzkuNTItLjgzLDEtLjgzcy44LjQ0LDEsLjgzTDIyLjMzLDEwbDEwLjEzLDEuNDhjLjQ5LjA4LDEuMTMuMzIsMS4xMy45MkExLjQ5LDEuNDksMCwwLDEsMzMuMDcsMTMuMzhaIi8+PC9nPjwvZz48L3N2Zz4=" width="34" alt="icon">
                            <div class="product_advantage_text">
                                <p class="product_advantage_text_title">РОСТ КОРНЕВОЙ</p>
                                <p class="product_advantage_text_subtitle">системы растений при использовании</p>
                                <p class="product_advantage_text_value">в 3-10 раз</p>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="product_cta">
                    <p class="product_cta_title">Хотитите трали-вали ла-лала?</p>
                    <div class="product_cta_content">
                        <p class="product_cta_subtitle">УЗНАЙТЕ <br> О НАГРО БОЛЬШЕ!</p>
                        <button class="product_cta_button" type="button">УЗНАТЬ БОЛЬШЕ</button>
                    </div>
                </div>
            </div>
            <div class="product_right" >
                <div class="calculator" id="calculator">
                    <div class="calculator_content">
                       <p class="calculator_title">Посчитайте прибыль</p>
                       <p class="calculator_subtitle"><strong>ДОБРИВО</strong> ЭФФЕКТИВНЕЕ ХИМИИ</p>
                       <div class="calculator_line"></div>
                       <form  class="calculator_form" autocomplete="off">
                           <div class="form_row">
                               <label class="form_label">Выберите культуру</label>
                               <select class="form_select"
                               v-model="indexResponse"
                               @change="change"
                               name="name">                                    
                                   <option v-for="(value, ind) in response" :key="value.id"
                                   :value="ind">{{value.name}}</option>
                               </select>
                           </div>
                        <div class="form_row">
                            <label class="form_label">Урожайность, ц/га</label>
                            <input class="form_input" :class="yield.inputErrClass"
                            type="number" min="0" inputmode="numeric" pattern="[0-9]*"
                            name="yield"  
                            v-model.trim="response[indexResponse].yield"
                            @input="input">
                            <p class="form_error">{{yield.error}}</p>
                        </div>
                        <div class="form_row">
                            <label class="form_label">Стоимость хим. удобрения, грн/га</label>
                            <input class="form_input" :class="cost.inputErrClass"
                            type="number" min="0" inputmode="numeric" pattern="[0-9]*"
                            name="cost"
                            v-model.trim="response[indexResponse].cost"
                            @input="input">
                            <p class="form_error">{{cost.error}}</p>
                        </div>
                        <div class="form_row">
                            <label class="form_label">Посевная площадь, га</label>
                            <input class="form_input" :class="area.inputErrClass"
                            type="number" min="0" inputmode="numeric" pattern="[0-9]*"
                            name="sownArea"
                            v-model.trim="sownArea"
                            @input="input">
                            <p class="form_error">{{area.error}}</p>
                        </div>
                       </form>
                    <div class="calculator_line"></div>
                    <p class="calculator_result_title">Прибыль от ДОБРИВА</p>
                    <p class="calculator_result">{{res}}</p>
                    <p class="calculator_monetary_unit">грн</p>
                    </div>
                </div>
            </div>             
        </div>  
    </section>      
</main>  
<script defer src="main.js"></script></body>
</html>