@import 'bootstrap/dist/css/bootstrap.min.css';

*{
    box-sizing: border-box;
}
html,
body{
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; 
}
p{
    margin: 0;
}
// header start
.header{             
    width: 100%;
    max-width: 2250px;
    margin: 0 auto;   
    position: relative;  
}
.header_carousel{
    z-index: -1;
}
.header_carousel-inner{
    & .carousel-item{
        min-height: 417px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    & :nth-child(1){
        background-image: url('../img/1.jpg');     
    }
    & :nth-child(2){
        background-image: url('../img/2.jpg');     
    } 
    & :nth-child(3){
        background-image: url('../img/3.jpg');     
    }      
}
.header-navbar{      
    position: absolute;
    top: 0;
    width: 100%;     
    z-index: 1; 
    margin: 40px 0 0 0;     
}
.content-section{     
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu_icon{
    display: none;
    &:hover{
        cursor: pointer;
    }
}
.header-navbar_top{   
    display: flex;
    justify-content: space-between; 
    align-items: center;      
    & a{         
        text-decoration: none;
        color: #fff;
    }
    & select{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        & option{
            color: #000;
        }        
    }
}
.header_logo{  
    letter-spacing: -4px; 
    font-size: 51px;     
}
.header-navbar_top-link{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
}
.header-navbar_top_menu{
    width: 54%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav{
    background-color: #fff;
    display: flex;  
    padding: 0 28px;       
}
.header_nav_link{     
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #6D6E71;
    text-transform: uppercase;       
    flex-grow: 1;  
    text-align: center;
    padding: 14px 0;
    & span{
        background-image: url('../img/arrow_menu.svg');
        background-repeat: no-repeat;
        background-size: 3px auto;
        background-position: right center;
        padding: 0 10px 0 0;
    }
    &:hover{
        color: #6D6E71;
    }     
}
.header_nav_cart{
    background : -moz-linear-gradient(50% 100% 90deg,rgba(117, 91, 30, 1) 0%,rgba(82, 168, 40, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(117, 91, 30, 1) 0%, rgba(82, 168, 40, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(117, 91, 30, 1) ),color-stop(1,rgba(82, 168, 40, 1) ));
    background : -o-linear-gradient(90deg, rgba(117, 91, 30, 1) 0%, rgba(82, 168, 40, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(117, 91, 30, 1) 0%, rgba(82, 168, 40, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#755B1E', endColorstr='#52A828' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(117, 91, 30, 1) 0%, rgba(82, 168, 40, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52A828',endColorstr='#755B1E' , GradientType=0); 
    color: #fff;
    margin-right: -29px;     
    padding: 14px 30px;
    &:hover{
        color: #fff;
    }
    & span{
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{            
            content: '';
            display: block;  
            margin: 0 10px 0 0;       
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #fff;         
            background-image: url('../img/icon_cart.svg');
            background-repeat: no-repeat;
            background-size: 10px  ;
            background-position:  center;
            opacity: .3;            
        }
    }         
}
// header end 
// product start
.product{             
    width: 100%;
    max-width: 2250px;
    margin: 0 auto;
    padding: 0 0 50px 0;                 
    background : #F1F2F2;  
    background-image: url('./../img/bg_product.png');
    background-repeat: no-repeat;
    background-position: top right;   
    background-size:  44%  auto;      
    & .content-section{
        display: flex;
        justify-content: center;         
    }      
}
.product_left{     
    margin: -162px 0 0 0;   
    flex-grow: 1;      
}
.product_right{     
    flex-grow: 1;    
}
.product_title{
    font-size: 60px;  
    font-weight: 300;   
    line-height: 48px;
    text-align: right;  
    letter-spacing: -3px;    
    color: #fff;    
    & :nth-child(1){
        margin: 0 109px 0 0;     
    }
    & :nth-child(3){
        margin: 0 101px 0 0;     
    }  
}
.product_advantages{    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -41px 0 0 0;
}
.product_advantages_img{
    padding: 0 28px 0 0;     
}
.product_advantages_content{
    width: 60%;    
}
.product_advantage{
    display: flex;
    align-items: flex-start;   
    margin-top: 7px; 
}
.product_advantage_text{
    padding: 0 0 0 22px;
}
.product_advantage_text_title{
    font-size: 25px;
    text-transform: uppercase;
    color: #4D4545; 
    letter-spacing: -1px;    
}
.product_advantage_text_subtitle{
    font-size: 9px;
    text-transform: uppercase;
    color: #A7A9AC;    
}
.product_advantage_text_value{
    font-size: 25px;
    text-transform: uppercase;
    color: #C49A6C; 
}
.product_cta{     
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 38px 0 0 0 ;
}
.product_cta_title{
    font-size: 14px;
    text-align: right;
    width: 19%;
    padding: 0 28px 0 0;    
}
.product_cta_content{
    width: 60%;
}
.product_cta_subtitle{
    font-size: 42px;
    text-transform: uppercase;
    color: #25383F;
    font-weight: 400;      
    line-height: 48px;
    padding: 0 0 17px 0;
    letter-spacing: -2px;
}
.product_cta_button{
    font-size: 23px;
    text-transform: uppercase;
    border: 5px solid;
    padding: 11px 20px;
}
// calculator start 
.calculator{
    width: 100%;
    max-width: 320px;
    background : #E9E5E4;
    padding: 10px;
    margin: -162px 0 0 auto;     
}
.calculator_content{
    width: 100%;
    border-radius: 2px;
    border: 1px dashed #A7A9AC;
    padding: 22px;     
}
.calculator_title{
    font-size : 36px;
    line-height : 32px;
    text-transform : uppercase;
    color : #25383F;
    text-align: center;
}
.calculator_subtitle{
    font-size : 14px;
    letter-spacing : 0.15px;
    text-transform : uppercase;
    color : #25383F;
    text-align: center;
    padding: 15px 0 15px 0;
}
.calculator_line{
    border-top: 1px solid #D1D3D4;
    margin: 0 auto;
    width: 70%;
}
.calculator_form{
    padding: 20px 0 0 0;
    & .form_row:last-child{
        padding: 0 0 13px 0;
    }
}
.form_row{
    padding: 0 0 9px 0;
}
.form_label{     
    font-size : 14px;
    line-height : 14px;
    letter-spacing : 0.15px;
    color : #25383F;  
    padding: 0 0 10px 0; 
}
.form_select{
    width: 100%; 
    max-width: 100%;    
    font-size : 14px;
    line-height : 14px;
    letter-spacing : 0.15px;
    color : #A7A9AC;
    padding: 7px;   
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('./../img/select_bg.svg');
    background-repeat: no-repeat;
    background-size: 6px auto;
    background-position: 95% center;
} 
.form_input{
    width: 100%; 
    max-width: 100%;    
    font-size : 14px;
    line-height : 14px;
    letter-spacing : 0.15px;
    color : #A7A9AC;
    padding: 7px;
}
.form_error{
    font-size: 11px;
    text-transform: uppercase;
    color: red;
    padding: 10px 0 0 0;
}
.calculator_result_title{   
    font-size : 14px; 
    letter-spacing : 0.15px;
    text-transform : uppercase;
    color : #D26441;
    text-align: center;
    padding: 6px 0 0 0;
}
.calculator_result{   
    font-size : 47px;   
    letter-spacing : 0.52px;
    text-transform : uppercase;
    color : #D26441;
    text-align: center;
    padding: 10px 0 0 0;
    line-height: 1;   
}
.calculator_monetary_unit{   
    font-size : 14px;   
    letter-spacing : 0.15px;
    color : #25383F;
    text-align: center; 
}
// calculator end 
// porduct end 

// адаптив всей страницы
@media screen and (max-width: 1660px) {
    .product {
        background-size: 42% auto;
    }
}
@media screen and (max-width: 1290px) {
    .product {
        background-size: 39% 100%;
    }
}
@media screen and (max-width: 1015px) {
    .product {
        background-size: 37% 100%;
    }
}
@media screen and (max-width: 980px) {
    // header start 
    .menu_icon{
        display: block;     
    }
    .header_nav{
        position: absolute;
        top: -40px;     
        height: 100vh;
        left: -100%;
        transform: scale(0);
        flex-direction: column;     
        width: 80.5%;
        z-index: 1;     
        transition: transform .2s;
        transform-origin: top left;
        overflow-y: auto; 
        padding: 28px 0 56px 28px;
        & .header-navbar_top-link{             
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            color: #6D6E71;
            text-transform: uppercase;       
            text-align: left;
            width: fit-content;
            padding: 14px 0;
            & span{
                background-image: url('../img/arrow_menu.svg');
                background-repeat: no-repeat;
                background-size: 3px auto;
                background-position: right center;
                padding: 0 10px 0 0;
            }
            &:hover{
                color: #6D6E71;
            }             
        }
    }
    .header_nav_link {
        flex-grow: 0;
        text-align: left;
        width: fit-content;
    }     
    .header_nav_cart{
        background : inherit;     
        color: #6D6E71;   
        margin-right: 0;     
        padding: 14px 0; 
        &:hover{
            color: #6D6E71;
        }
        & span{
            display: inline;         
            &::before{            
                content: '';
                display: none;                             
            }
        }         
    }
    .scrim {
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 100vh;     
        transition-property: opacity;
        opacity: 0;
        background: rgba(22, 12, 13, .5);
        z-index: -1;
        visibility: hidden;         
    }
    // верхнее меню
    .header-navbar_top_menu{
        width: fit-content;
        & .header-navbar_top-link{
            display: none;
        }
    }    
    // header end 
    // product start 
    .product_advantages_img{
        & img{
            display: none;
        }
    }
    .product{                       
    background : none;  
    background-image:none;          
    & .content-section{
        display: block;                 
    }      
    }
    .product_advantages{
        & .calculator{
            margin: 0;
        }
    }
    .product_advantages_content{
        width: 100%;
        & .product_cta_title{
            text-align: left;
            width: 100%;
            padding: 20px 0 0 0;
        }
        & .product_cta_content{
            width: 100%;
        }
    }
    // product end 
}
@media screen and (max-width: 720px) {  
    .product_title {
        font-size: 55px;
    }
    .product_cta_subtitle {
        font-size: 35px;
    }     
}
@media screen and (max-width: 680px) {  
    .product_advantages{
        display: block;
        margin: 35px 0 0 0;
    } 
    .product_title{
        text-align: center;
        & :nth-child(1){
            margin: 0;     
        }
        & :nth-child(3){
            margin: 0;     
        } 
    } 
    .product_advantage{
        display: block;
        text-align: center;
        margin: 7px 0 15px 0;
    }   
    .product_advantage_text{
        padding: 0;
    }
    .product_advantages_content{
        & .calculator{
            width: 100%;
            max-width: 680px;
        }
        & .product_cta_title{
            text-align: center;
        } 
        & .product_cta_subtitle{
            text-align: center;
        } 
        & .product_cta_button{
            display: block;
            margin: 0 auto;
        }
    }       
}
@media screen and (max-width: 460px) {     
    // header start 
    .header_logo {
        font-size: 42px;
    }     
    // header end 
    .product_title {
        font-size: 42px;
    }
}
// модификаторы js (start)
.header_nav--active_js{
    left: 0;
    transform: scale(1);
    z-index: 999;
}
.scrim--active_js {     
    visibility: visible;
    transition: .5s;
    opacity: 1;
    z-index: 998;
}
.form_input--err_js{
    border: 1px solid red;
    outline: 1px solid red;
}
// модификаторы js (end) 